* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  font-family: sans-serif;
  gap: 5rem;
}

.one {
  text-align: center;
  font-size: 40px;
  padding-top: 60px;
  padding-right: 08%;
}

.title {
  margin-top: 2rem;
}

.card {
  min-width: 490px;
  max-width: 768px;
  background-color: #080a07;
  border-radius: 10px;
  padding: 20px 5px;
  justify-content: center;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.input-container {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  padding-left: 100px;
}

.input {
  width: 90%;
  border: solid 2px #000;
  padding: 7px 0;
  font-size: larger;
  border-radius: 5px;
}

span {
  padding-left: 60px;
  font-size: 20px;
}

.input:focus {
  border-bottom: 2px solid #4bcc52;
}

.btn {
  padding: 10px;
  border: none;
  color: #f5faf5;
  background-color: #f301ce;
  border-radius: 5px;
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
  margin-left: 90px;
}

.btn:hover {
  background-color: #232523;
}

.output {
  margin: 0 auto;
  padding: 18px 15px;
  border: 1px solid #7b5a5a;
  width: 60%;
  border-radius: 5px;
  color: #060606;
}

@media screen and (max-width: 425px) {
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .input {
    width: 99%;
  }
}
